{% extends "base.html" %}
{% block content %}
<div class="tool-shell col-lg-7">
    <h2>Batch Rename Images</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Select images</label>
            <input class="form-control" type="file" name="files" accept="image/*" multiple required>
        </div>
        <div class="mb-3">
            <label class="form-label">Filename prefix</label>
            <input class="form-control" name="prefix" value="image">
        </div>
        <button class="btn btn-brand">Download Renamed ZIP</button>
    </form>
</div>
{% endblock %}

